* { 
    font-family: Arial, Helvetica, sans-serif 
  }
div.container{
    margin: 0 auto;
    /* background: url(images/bg.jpg) no-repeat center center fixed;  */
    /* width: 960px; */
    height: 1200px;
    
    background-image: url(https://i.pinimg.com/736x/26/48/eb/2648ebdfd2ba93f1a40d1f39143352ec--dragon-z-dragon-ball-z.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 40px 0px 40px;
}
    div.header {
        width: 800px;
        height: 50px;
        background-color: yellow;
        margin: 0 auto;
        text-align: center;
    }
    div.content-power{
        margin-top: 50px;
        /* background-color: yellow; */
        height:400px;
        /* margin: 0 auto; */
    }