div.power{
    /* width:100%; */
    /* display: inline; */
    height: 540px;
    width:900px;
    background:url(https://static.zerochan.net/DRAGON.BALL.full.435656.jpg) no-repeat center;
    background-size: cover;
    padding: 10px;
    /* margin-bottom: 40px; */
    margin:0 auto;
    border: 3px solid purple

}
h4{
    height:50px;
    background-color: white;
    opacity: 0.5;
    /* margin-top:10px; */
}
h4, form{
    display: inline;
}
div.power-image, img{
    display: inline-block;
    vertical-align: top;
    /* padding-bottom:40px; */
}

img{
    margin-left: 680px;
    border: 3px solid purple;
}

div.box{
    /* vertical-align: top; */
    background-color: black;
    height:250px;
    width:285px;
    display: inline-block;
    border:2px solid;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:90px;
    opacity:  0.7;
    vertical-align: top;
    
    
    
    /* margin: 0 auto; */

}
div.box2{
    /* vertical-align: top; */
    background-color: black;
    height:250px;
    width:285px;
    display: inline-block;
    border:2px solid;
    margin-left:90px;
    opacity:  0.7;
    vertical-align: top;
    /* margin-top:20px; */
}
div.border{
    height:70px;
    background-color: ghostwhite;
    text-align: center;
    padding-top: 1px
    /* vertical-align: top */
}
div.border > h5{
    padding-bottom:4px;
}